html {
    padding: 0;
    margin: 0;
    background-color: #FFFBF7;
    overflow: hidden;
}

body {
    padding: 0px 40px;
    margin: 0;
    height: 100%;
    display: grid;
    justify-items: center;
}

/* || Typography */

.source-black {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.inter-thin {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-reg {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-italic {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}



/* || Header */

.header-bar {
    box-sizing: border-box;
    opacity: 0;
    display: none;
    position: absolute;
    grid-template-rows: 0;
    grid-template-columns: 1fr 0.4fr min-content;
    width: 100%;
    padding: 0 40px;
    height: 50px;
    margin-top: 60px;
    svg {
        width: 50px;
        grid-column: 3;
        padding-top: 13px;
        align-self: start;
        justify-self: end;
    }
    h1 {
        align-self: start;
        justify-self: start;
        margin: 0;
        grid-column: 1;
        font-size: 2.2em;
        margin: 0;
        text-align: center;
        grid-row: 3;
        #logo-grow {
            color: #0F3342;
            -webkit-text-stroke: #0F3342 1.8px;
        }
        #logo-mate {
            color: #067A53;
            -webkit-text-stroke: #067A53 1.8px;
        }
    }
}



/* || Enter Page */

.enter-page {
    opacity: 1;
    display: grid;
    grid-template-rows: 2fr 3fr min-content min-content 0.5fr min-content min-content;
    transition: all .1s ease;
    img {
        grid-row: 2;
        width: 250px;
        justify-self: end;
    }
    h1 {
        font-size: 3.7em;
        margin: 0;
        text-align: center;
        grid-row: 3;
        #logo-grow {
            color: #0F3342;
            -webkit-text-stroke: #0F3342 2.5px;
        }
        #logo-mate {
            color: #067A53;
            -webkit-text-stroke: #067A53 2.5px;
        }
    }
    p {
        font-size: 1.1em;
        text-align: center;
        margin: 0;
        grid-row: 4;
    }
    h2 {
        color: #0F3342;
        font-size: 2em;
        margin: 0;
        margin-bottom: 10px;
        grid-row: 6;
    }
    form {
        grid-row: 7;
        #enter-name {
            box-sizing: border-box;
            width: 100%;
            height: 50px;
            padding: 0px 10px;
            background-color: white;
            border: #0F3342 2px solid;
            border-radius: 10px;
            color: #0F3342;
            font-size: 1.1em;
        }
        #enter-name:focus {
            outline: none !important;
            border: #067A53 2px solid;
        }
        #enter-name::placeholder {
            color: #0F334272;
        }
        #name-submit {
            margin-top: 13px;
            width: 100%;
            box-sizing: border-box;
            height: 50px;
            background-color: #0F3342;
            border-radius: 10px;
            border: none;
            font-size: 1.2em;
            color: #FFFBF7;
            transition: .1s ease all;
        }
        #name-submit:active {
            background-color: #067A53;
        }
    }
}



/* || Home Page */

.home-page {
    opacity: 0;
    display: none;
    transition: all .1s ease;
}



/* || Plants Page */

.plants-page {
    display: none;
    opacity: 0;
    transition: all .1s ease;
}



/* || Reminders Page */

.reminders-page {
    display: none;
    opacity: 0;
    transition: all .1s ease;
}



/* || Tips Page */

.tips-page {
    display: none;
    opacity: 0;
    transition: all .1s ease;
}


/* || Nav Bar */

.nav-bar {
    opacity: 0;
    position: absolute;
    display: none;
    bottom: 0;
    gap: 28px;
    margin-bottom: 25px;
    box-sizing: border-box;
    button {
        background-color: transparent;
        border: none;
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 10px;
        border-radius: 13px;
        transition: all .1s ease;
    }
    svg {
        width: 32px;
    }
}